@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}


h1, h2, h3 {
  font-family: "Raleway", serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 1.1em;
  color: #007bff; /* Dark blue */
}
